body {
    width: 1600px;
    margin: auto;
}

/* Navbar Section */

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1A0B2E;
    height: 90px;
    border-bottom: 1px solid white;
}

.navbar .logo h2 {
    font-family: sans-serif;
    font-size: 40px;
    color: white;
}

.navbar .logo h2 span {
    color: gold;
}

.navbar .menu ul li {
    list-style: none;
    display: inline;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}


.navbar .nav-btn button {
    height: 45px;
    width: 140px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #00FF88;
}

.navbar .nav-btn button:hover {
    background-color: gold;
}

.navbar .nav-btn button a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(70, 3, 3);
}


/* Hero Section */

.hero {
    height: 600px;
    background-color: #1A0B2E;
    background-image: url(./assets/hero-bg.png);
    text-align: center;
    padding-top: 110px;
}

.hero .hero-logo {
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    align-items: center;
}

.hero .hero-logo .hero-btn-new button {
    height: 38px;
    width: 75px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #00FF88;
    margin-right: -200px;
}

.hero .hero-logo .hero-logo-mic img {
    margin-top: 25px;
}

.hero .hero-info h1 {
    font-family: sans-serif;
    font-size: 50px;
    color: white;
    margin-bottom: 0px;
}

.hero .hero-info p {
    font-family: sans-serif;
    color: rgb(192, 192, 192);
}

.hero .hero-info button {
    height: 45px;
    width: 200px;
    background-color: gold;
    border: none;
    border-radius: 50px;
}

.hero .hero-info button:hover {
    background-color: #00FF88;
}

.hero .hero-info button a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #1A0B2E;
    font-size: 15px;
    gap: 10px;
    text-decoration: none;
}


/* About Section */

.about {
    background-color: #1A0B2E;
    padding: 50px;
}

.about .about-info {
    text-align: center;
}

.about .about-info h1 {
    font-family: sans-serif;
    font-size: 40px;
    color: white;
}

.about .about-info p {
    font-family: sans-serif;
    color: rgb(196, 196, 196);
    width: 1000px;
    margin: auto;
    line-height: 35px;
    margin-bottom: 50px
}

.about .about-number {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about .about-number .number-box {
    text-align: center;
}

.about .about-number .number-box h2 {
    font-family: sans-serif;
    font-size: 50px;
    color: #00FF88;
    margin-bottom: 0px;
}

.about .about-number .number-box p {
    color: white;
    font-family: sans-serif
}


/* Why Choose Section */

.choose {
    background-color: #230E3D;
    height: 1100px;
    padding: 120px 200px 120px 200px;
}

.choose h1 {
    font-family: sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
}

.choose .choose-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px;
}

.choose .choose-box .choose-box1 {
    grid-column: span 1;
    grid-row: span 2;
    background-color: #351165;
    padding: 110px 40px 110px 40px;
    border-radius: 20px;
}

.choose .choose-box .choose-box2 {
    grid-column: span 2;
    grid-row: span 1;
    background-color: #351165;
    padding: 40px 40px 40px 40px;
    border-radius: 20px;

}

.choose .choose-box .choose-box3 {
    grid-column: span 2;
    grid-row: span 1;
    background-color: #351165;
    padding: 40px 40px 40px 40px;
    border-radius: 20px;
}

.choose .choose-box .choose-box4 {
    grid-column: span 2;
    grid-row: span 1;
    background-color: #351165;
    padding: 40px 40px 40px 40px;
    border-radius: 20px;
}

.choose .choose-box .choose-box5 {
    grid-column: span 1;
    grid-row: span 1;
    background-color: #351165;
    padding: 40px 40px 40px 40px;
    border-radius: 20px;
}

.choose .choose-box h3 {
    font-family: sans-serif;
    font-size: 22px;
    color: white;
}

.choose .choose-box p {
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(170, 170, 170);
    line-height: 30px;
    text-align: justify;
}


/* <!-- Feature and host section --> */

/*  <!-- Featured Episodes Section --> */

.feature-host {
    height: 1200px;
    background-color: #1A0B2E;
    padding: 120px 200px 120px 200px;
}

.feature-host h1 {
    font-family: sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 100px;
}

.featured {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featured .featured-episode {
    height: 440px;
    width: 380px;
    background-color: #250D44;
    border-radius: 20px;
}

.featured .featured-episode iframe {
    width: 380px;
    height: 210px;
    margin-top: -43px;
    border-radius: 20px;
}

.featured .featured-episode h3 {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 25px;
}

.featured .featured-episode p {
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    width: 320px;
    line-height: 30px;
    color: rgb(165, 165, 165);
    margin-left: 25px;
}

.featured .featured-episode .clock {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.featured .featured-episode .clock img {
    height: 20px;

}


/* <!-- Meet the Host Section --> */

.the-host .heading h1 {
    font-family: sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}

.the-host .host {
    margin: auto;
    height: 200px;
    width: 1200px;
    display: flex;
    align-items: center;
    background-color: #250D44;
    padding: 40px 40px 40px 40px;
    border-radius: 40px;
}


.the-host .host .host-info {
    margin-left: 30PX;
}

.the-host .host .host-info h2 {
    font-family: sans-serif;
    font-size: 30px;
    color: white;
}

.the-host .host .host-info p {
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(160, 160, 160);
    width: 890px;
    text-align: justify;
    line-height: 30px;
}

.the-host .host .host-info .host-info-icon img {
    height: 20px;
    margin-right: 10px;
}


/* Footer Section */

.footer {
    background-image: url(./assets/footer-bg.png);
    padding: 120px 120px 120px 120px;
}


.footer .footer-headign h1 {
    font-family: sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

.footer .footer-headign h1 span {
    color: gold;
}

.footer .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .icon .icon-box {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.footer .icon .icon-box p {
    color: white;
    margin-left: 15px;
}

.footer .copyright p {
    text-align: center;
    color: rgb(145, 145, 145);
}














/* Mobile Responsive Design */

@media screen and (max-width: 576px) {

    body {
        width: 100%;
    }

    /* Navbar */

    .navbar .nav-btn {
        display: none;
    }

    .navbar .menu {
        display: none;
    }

    /* About Section */

    .about .about-info h1 {
        font-size: 30px;
    }

    .about .about-info p {
        width: 300px;
    }

    .about .about-number {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    /* Why Choose Section */

    .choose {
        padding: 5px;
        height: 2000px;
    }

    .choose h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .choose .choose-box {
        width: 300px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 5px;
    }

    .choose .choose-box .choose-box1 {
        grid-column: span 1;
        grid-row: span 1;
        background-color: #351165;
        border-radius: 20px;
        padding: 30px 20px 30px 20px;
    }

    .choose .choose-box .choose-box2 {
        grid-column: span 1;
        grid-row: span 1;
        background-color: #351165;
        border-radius: 20px;
        padding: 30px 20px 30px 20px;
    }

    .choose .choose-box .choose-box3 {
        grid-column: span 1;
        grid-row: span 1;
        background-color: #351165;
        border-radius: 20px;
        padding: 30px 20px 30px 20px;
    }

    .choose .choose-box .choose-box4 {
        grid-column: span 1;
        grid-row: span 1;
        background-color: #351165;
        border-radius: 20px;
        padding: 30px 20px 30px 20px;
    }

    .choose .choose-box .choose-box5 {
        grid-column: span 1;
        grid-row: span 1;
        background-color: #351165;
        border-radius: 20px;
        padding: 30px 20px 30px 20px;
    }

    /* <!-- Feature and host section --> */

    .feature-host {
        padding: 5px;
    }

    .feature-host h1 {
        font-size: 30px;
    }

    .featured {
        display: grid;
        grid-template-columns: 1fr;
    }

    .feature-host .featured .featured-episode {
        
        
    }

    .feature-host .featured .featured-episode iframe {
        width: 320px;
       
}